resources:
- ../sci
patches:
- path: deployment_patch.yaml
- path: service_patch.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: sci
  newName: docker.io/substratusai/sci-kind
  newTag: v0.9.1
