name: System tests kind
run-name: ${{ github.actor }} triggered system tests running on kind
on:
  pull_request:
  push:
    branches:
      # Must run after docker images are built and pushed.
      # Should run before a release.
      - main
  workflow_run:
    workflows: [Docker pipeline]
    types:
      - completed
jobs:
  system-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup Go 1.21.x
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
      - run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          sudo install skaffold /usr/local/bin/
      - run: make test-system-kind
